<html>
	<head>
		<title>If-this-then-Trello</title>
	</head>
	<body>
		<div>
			{{.}}
		</div>
		<form name="Configuration" action="/configure" method="post">
			<fieldset>
				<legend>Configuration</legend>
				<input type="text" name="appKey" placeholder="Trello Application Key"/>
				<input type="text" name="appSecret" placeholder="Trello Application Secret"/>
				<input type="submit"/>
			</fieldset>
		</form>
	</body>
</html>